*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #eee;
    background-color: #111;
}

a {
    font: inherit;
    color: inherit;
}

canvas {
    display: block;
}

.hidden {
    display: none !important;
}

.fallback-message {
    max-width: 80vw;
    text-align: center;
}

.fallback-message .small {
    font-size: 12px;
}

.links {
    display: flex;
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.links a {
    display: block;
    padding: 0 1em;
    border-radius: 3px;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 300ms ease;
}

.links a:hover,
.links a:focus {
    opacity: 1;
}

.links .blogpost {
    padding-left: 26px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.25) url("images/external.png") 0.5em center no-repeat;
    background-size: auto 50%;
}

.links .github {
    width: 30px;
    height: 30px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.25) url("images/github.png") center center no-repeat;
    background-size: auto 50%;
}
